<!DOCTYPE html>
<html>

<head>

    <title>OCR Processing Engine</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <div class="container">

        <h1>
            OCR Processing Engine
        </h1>

        <form
            method="POST"
            action="/process"
            enctype="multipart/form-data"
            onsubmit="showLoading()"
        >

            <label>
                Select OCR Mode
            </label>

            <select name="mode">

                <option value="normal">
                    Normal OCR
                </option>

                <option value="handwriting">
                    Handwriting OCR
                </option>

                <option value="table">
                    Table Extraction
                </option>

            </select>

            <br><br>

            <label>
                Upload Image or PDF
            </label>

            <input
                type="file"
                name="file"
                multiple
                required
            >
            <br><br>    

            <div
    id="previewContainer"
></div>
<p
    id="pdfName"
    style="display:none;"
></p>

            <br><br>

            <button
    id="processBtn"
    type="submit"
>
    Process
</button>
            <div
    id="loading"
    style="display:none;"
>
    <h3>
        Processing file...
        Please wait.
    </h3>
    <p>
        Large PDFs may take up to a minute.
    </p>
</div>

        </form>

        {% if result %}

        <hr>

        <h2>
            Result
        </h2>

        <pre>{{ result }}</pre>
        {% if processing_time %}

<p>
    Processing Time:
    {{ processing_time }} seconds
</p>

{% endif %}

        {% endif %}
        {% if txt_file %}

<br>

<a href="/download/{{ txt_file }}">
    Download TXT
</a>

{% endif %}
{% if json_file %}

<br>

<a href="/download/{{ json_file }}">
    Download JSON
</a>

{% endif %}

{% if zip_file %}

<br><br>

<a href="/download/{{ zip_file }}">
    Download ZIP
</a>

{% endif %}
    </div>
<script>

function showLoading() {

    document.getElementById(
        "loading"
    ).style.display = "block";
    document.getElementById(
        "processBtn"
    ).disabled = true;


}

</script>
<script>

const fileInput =
    document.querySelector(
        'input[type="file"]'
    );

fileInput.addEventListener(
    "change",
    function(event){

        const files =
            event.target.files;

        const container =
            document.getElementById(
                "previewContainer"
            );

        container.innerHTML = "";

        for(
            let i = 0;
            i < files.length;
            i++
        ){

            const file =
                files[i];

            if(
                file.type.startsWith(
                    "image/"
                )
            ){

                const reader =
                    new FileReader();

                reader.onload =
                    function(e){

                        const img =
                            document.createElement(
                                "img"
                            );

                        img.src =
                            e.target.result;

                        img.style.maxWidth =
                            "200px";

                        img.style.margin =
                            "10px";

                        img.style.border =
                            "1px solid #ccc";

                        container.appendChild(
                            img
                        );
                    };

                reader.readAsDataURL(
                    file
                );
            }
        }
    }
);

</script>
</body>

</html>