<!DOCTYPE html>
<html>

<head>

    <title>OCR Processing Engine</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>


    <div class="container">

        <div class="hero">

    <h1>
        OCR Processing Engine
    </h1>

    <p>
        Intelligent Document Processing for Images and PDFs
    </p>

</div>

       
        <form
            method="POST"
            action="/process"
            enctype="multipart/form-data"
            onsubmit="showLoading()"
        >
            <div class="mode-section">

    <label>
        Document Processing Mode
    </label>

   <select name="mode" class="mode-select">

    <option value="auto" selected>
        Auto Detect (Recommended)
    </option>

    <option value="normal">
        Normal OCR
    </option>

    <option value="handwriting">
        Handwriting OCR
    </option>

    <option value="table">
        Table Extraction
    </option>

</select>

</div>

                

            <br><br>

            <div class="upload-box">

    <input
        type="file"
        id="fileInput"
        name="file"
        multiple
        required
        hidden
    >

    <label
    for="fileInput"
    class="upload-label"
>

    <h2>
        📄 Drag & Drop Files Here
    </h2>

    <p>
        or click to browse files
    </p>

    <small>
        Supports PDF, PNG, JPG, TIFF
        (Max 100 MB)
    </small>

</label>

</div>
            <br><br>    

            <div
    id="previewContainer"
></div>
<p
    id="pdfName"
    style="display:none;"
></p>

            <br><br>
<button
    id="processBtn"
    type="submit"
    class="process-btn"
>
    Process Document
</button>
    <div
    id="loading"
    style="display:none;"
>

    <h3>
        ⏳ Processing Document...
    </h3>

    <p>
        OCR is currently running.
    </p>

    <p>
        Please do not refresh or close this page.
    </p>

</div>
        </form>
{% if uploaded_filenames %}

<div class="preview-card">

    <h2 style="width:100%;">
    Uploaded Documents
</h2>

    {% for filename in uploaded_filenames %}

{% if filename.endswith(
('.png','.jpg','.jpeg','.bmp','.tiff')
) %}

<a
    href="{{ url_for('serve_input_file', filename=filename) }}"
    target="_blank"
>

    <img
        src="{{ url_for('serve_input_file', filename=filename) }}"
        class="result-preview"
    >

</a>
{% elif filename.endswith('.pdf') %}

<a
    href="{{ url_for('serve_input_file', filename=filename) }}"
    target="_blank"
    class="pdf-preview-link"
>

    <div class="pdf-preview">

        <h3>
            📄 {{ filename }}
        </h3>

        <p>
            Click to open PDF
        </p>

    </div>

</a>

{% endif %}

{% endfor %}

</div>

{% elif uploaded_filename %}

<div class="preview-card">

    <h2>
        Uploaded Document
    </h2>

  {% if uploaded_filename.endswith(
('.png','.jpg','.jpeg','.bmp','.tiff')
) %}

<a
    href="{{ url_for('serve_input_file', filename=uploaded_filename) }}"
    target="_blank"
>

    <img
        src="{{ url_for('serve_input_file', filename=uploaded_filename) }}"
        class="result-preview"
    >

</a>

{% elif uploaded_filename.endswith('.pdf') %}

<a
    href="{{ url_for('serve_input_file', filename=uploaded_filename) }}"
    target="_blank"
    class="pdf-preview-link"
>

    <div class="pdf-preview">

        <h3>
            📄 {{ uploaded_filename }}
        </h3>

        <p>
            Click to open PDF
        </p>

    </div>

</a>

{% endif %}




</div>

{% endif %}
        {% if result %}

        <hr>
        {% if detected_mode %}

<div class="metric-card">

    <h2>
        {{ detected_mode|title }}
    </h2>

    <p>
        Detected Mode
    </p>

</div>

{% endif %}
{% if processed_summary %}

<div class="result-card">

    <h2>
        Processing Summary
    </h2>

    {% for item in processed_summary %}

        <p>{{ item }}</p>

    {% endfor %}

</div>

{% endif %}

        <h2>
            Result
        </h2>

        <div class="result-card">

    <h2>
        OCR Result
    </h2>

    <pre>{{ result }}</pre>

</div>
 <div class="metrics-row">

{% if processing_time %}

    <div class="metric-card">

        <h2>
            {{ processing_time }}s
        </h2>

        <p>
            Processing Time
        </p>

    </div>

{% endif %}

{% if average_confidence %}

    <div class="metric-card">

        <h2>
            {{ average_confidence }}%
        </h2>

        <p>
            OCR Confidence
        </p>

    </div>

{% endif %}

</div>

        {% endif %}
       <div class="download-section">

{% if txt_file %}

<a
    class="download-btn"
    href="/download/{{ txt_file }}"
>
    📄 Download TXT
</a>

{% endif %}

{% if json_file %}

<a
    class="download-btn"
    href="/download/{{ json_file }}"
>
    📊 Download JSON
</a>

{% endif %}

{% if zip_file %}

<a
    class="download-btn"
    href="/download/{{ zip_file }}"
>
    📦 Download ZIP
</a>

{% endif %}

</div>
    </div>
<script>

function showLoading() {

    document.getElementById(
        "loading"
    ).style.display = "block";

    document.getElementById(
        "processBtn"
    ).disabled = true;

    document.getElementById(
        "processBtn"
    ).style.pointerEvents = "none";

    document.getElementById(
        "processBtn"
    ).innerText = "Processing...";

}

</script>
<script>
    const fileInput =
    document.querySelector(
        'input[type="file"]'
    );

fileInput.addEventListener(
    "change",
    function(event){

        const files =
            event.target.files;

        const container =
            document.getElementById(
                "previewContainer"
            );

        container.innerHTML = "";

        for(
            let i = 0;
            i < files.length;
            i++
        ){

            const file =
                files[i];

            // IMAGE PREVIEW

            if(
                file.type.startsWith(
                    "image/"
                )
            ){

                const reader =
                    new FileReader();

                reader.onload =
                    function(e){

                        const img =
                            document.createElement(
                                "img"
                            );

                        img.src =
                            e.target.result;

                        img.className =
                            "result-preview";

                        container.appendChild(
                            img
                        );
                    };

                reader.readAsDataURL(
                    file
                );
            }

            // PDF PREVIEW

            else if(
                file.type ===
                "application/pdf"
            ){

                const pdfCard =
                    document.createElement(
                        "div"
                    );

                pdfCard.className =
                    "pdf-preview";

                pdfCard.innerHTML =
                    `
                    <h3>📄 ${file.name}</h3>
                    <p>
                        PDF selected successfully
                    </p>
                    `;

                container.appendChild(
                    pdfCard
                );
            }
        }
    }
);
</script>
</body>

</html>